<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
 <property>
    <name>fs.default.name</name>
    <value>hdfs://auto-ha</value>
 </property>
<property>
   <name>hs.zookeeper.quorum</name>
   <value>{% for host in groups['namenodes'] %}{{ hostvars[host]['ansible_fqdn'] }}:2181,{% endfor %}</value>
</property>
</configuration>
